.container_about{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title_about{
    font-family: "EB Garamond", Georgia, "Times New Roman", serif;
    font-size: 40px;
    font-weight: 400;
}

.text_about{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 25px;
    text-align: justify;

}
.banner{
    margin: 0;
    position: relative;
    vertical-align: bottom;
    height: 300px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.734)
      ), url('../../Components/pictures/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 300%;
    background-position: 50% 70%;
    image-rendering: crisp-edges;

}

.title_section{
    position: absolute;
    bottom: 20px;
    color: white;
    margin-left: 50px;
    font-size: 20px;
    letter-spacing : 2px;
    font-weight: 500;
}